@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Usuarios.Catalago.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new OoapasNewDemo.Usuarios.CatalagoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>